.landing {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;

	.header {
		position: absolute;
		top: 1rem;
		left: 50%;
		transform: translateX(-50%);
		opacity: 0;

		&__wrap {
			width: 80vw;
			display: flex;
			align-items: center;
			justify-content: space-between;
			padding: 10px;
			font-size: 18px;
			font-weight: 700;
		}
		&__left {
			display: flex;
			align-items: center;
			gap: 2rem;

			& li {
				font-size: 22px;
				color: rgba(246, 206, 236, 1);
			}
		}
		&__right {
			color: rgba(246, 206, 236, 1);
		}

		@media (max-width: 650px) {
			&__sm {
				display: none;
			}
			&__wrap {
				width: 90vw;
				gap: 1rem;
			}
		}

		@media (max-width: 370px) {
			.nav-link[data-text="Tech"] {
				display: none;
			}
		}
	}

	.socials {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		bottom: 10rem;
		gap: 1rem;
		display: flex;
		align-items: center;
	}
}

/*

*/
